@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');


// main screen wrapper
.main_wrap {
   color: #334766;
   font-size: 16px;
   line-height: 19px;
   position: absolute;
   width: 553px;
   height: 100%;
   top: 0;
   right: 0;
   background-color: white;

   flex-direction: column;
   align-items: center;
   display: flex;
   justify-content: space-between;
}


// main forms
.form-input {
   padding: 1px;
   width: 329px;
   height: 41.07px;

   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;

   color: #334766;
   border: none;
   border-bottom: 1px solid #334766;

   &:focus {
      outline: none;
   }

   &::placeholder {
      font-family: RobAoto;

      font-size: 16px;
      line-height: 19px;

      color: #334766;
   }


}


// main screen buttons
.main-buttons_wrap {
   margin-bottom: 35px;
   display: flex;
   flex-direction: column;

   .top-button {
      margin-bottom: 10px;
      width: 329px;
      height: 46px;

      background: #ffffff;
      font-family: Roboto;

      font-size: 16px;
      line-height: 19px;

      text-align: center;

      color: #334766;

      &:hover {
         color: #426daf;
      }
   }

   .bottom-button {
      width: 329px;
      height: 46px;

      background: #334766;
      font-family: Roboto;

      font-size: 16px;
      line-height: 19px;

      text-align: center;

      color: #ffffff;

      &:hover {
         background: #426daf;
      }
   }
}