<template>
  <div>
    <GameBg />
    <div class="main_wrap">
      <TopTitle>Авторизация</TopTitle>
      <div class="main-form_wrap">
        <div class="login_input-wrap">
          <input type="text" class="form-input" placeholder="Логин / Электронная почта" required />
        </div>
        <div class="password_input-wrap">
          <input type="password" class="form-input" placeholder="Пароль" required />
        </div>
        <div class="password_reset-wrap">
          <button class="password_reset">Забыли пароль?</button>
        </div>
      </div>
      <div class="main-buttons_wrap">
        <router-link to="/reg" exact>
          <button class="top-button">Регистрация</button>
        </router-link>
        <button class="bottom-button">Авторизация</button>
      </div>
    </div>
  </div>
</template>

<script>
import GameBg from '@/layouts/GameBg.vue'
import TopTitle from '@/components/TopTitle.vue'

export default {
  name: 'Auth',
  components: {
    GameBg,
    TopTitle
  }
}
</script>

<style lang="scss" scoped>
.login_input-wrap {
  margin-bottom: 30px;
}

.password_reset-wrap {
  margin-top: 14px;
  .password_reset {
    width: 100%;
    height: 18px;

    font-family: Roboto;

    font-size: 12px;
    line-height: 14px;

    color: #334766;
    text-align: right;

    &:hover {
      color: #426daf;
    }
  }
}
</style>
