<template>
  <div>
    <GameBg />
    <div class="main_wrap">
      <TopTitle>Регистрация</TopTitle>
      <div class="main-form_wrap">
        <div class="input-wrap">
          <input type="text" class="form-input" placeholder="Логин" required />
        </div>
        <div class="input-wrap">
          <input type="email" class="form-input" placeholder="Электронная почта" required />
        </div>
        <div class="input-wrap">
          <input type="password" class="form-input" placeholder="Пароль" required />
        </div>
        <div class="input-wrap">
          <input type="password" class="form-input" placeholder="Повторите ароль" required />
        </div>
      </div>
      <div class="main-buttons_wrap">
        <router-link to="/" exact>
          <button class="top-button">Назад</button>
        </router-link>

        <button class="bottom-button">Регистрация</button>
      </div>
    </div>
  </div>
</template>

<script>
import GameBg from '@/layouts/GameBg.vue'
import TopTitle from '@/components/TopTitle.vue'

export default {
  name: 'Auth',
  components: {
    GameBg,
    TopTitle
  }
}
</script>

<style lang="scss" scoped>
.input-wrap {
  margin-bottom: 30px;
}
</style>
