<template>
  <div class="main-title_wrap">
    <span class="main-title">
      <slot></slot>
    </span>
  </div>
</template>

<script>
export default {
  name: 'TopTitle',
  props: {
    msg: String
  }
}
</script>

<style scoped lang="scss">
.main-title_wrap {
  width: 443px;
  height: 99px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
}
</style>
