<template>
  <div class="game_bg"></div>
</template>

<script>
export default {
  name: 'GameBg',
  props: {
    bgPic: String
  }
}
</script>

<style scoped lang="scss">
.game_bg {
  background: black url('../assets/img/bg-main.jpg') no-repeat center;
  background-size: cover;
  margin: 0 auto;
  min-height: 100vh !important;
  color: #334766;
  position: relative;
}
</style>
